h2 {
    text-align: center;
    background-color: gray;
    color: rgb(255, 153, 0);
    padding: 20px;
    border-radius: 5em;
    
}

body {
    background-color: bisque;
}

p {
    text-align: justify;
}